/* 
	Print Stylesheet
*/
 
	body { background: none; font-size: 0.8em; line-height: 1.5em; text-align: center; }
	#wrap{ width: 97%; margin: 1em; float: none; border: none; box-shadow: none;}
	#header, #footer, a#print, a#download{ display:none; }
	div#header { display: block; margin-bottom: 2em;}
	h2#what-you-do { font-size: 1.5em; padding: 0;}
	#content{ padding:0; border: none; box-shadow: none;}
	.divider, .divider2	{ height:1px;}
	.divider2{ margin-bottom:0; }
	
	ul.skill span.sk { width: 2em; text-indent: 0;}

	#name { font-size: 2em; }

	#block-top{ border-top:none; height:1em; margin-bottom:2em;}

	.location-bar {
		box-shadow: none;
		border: none;
	}

	.single-row li:first-child {
		padding-left:0;
	}

	.single-row span {
		text-indent: inherit;
		width: inherit;
		background: none !important;
	}
	#page-1 {
		margin-top: 7em;
		margin-bottom: 3em;
		max-width: 62%;
	}
	
	.sidebar {
		border: 0.15em solid #bcc1c3;

	}
	.page-break{
		clear: both;
		page-break-after: always;
	}
	
	h2.cv-section-name{ font-weight:bold; border-bottom:none; }
	h4 { font-size:1em; margin-top:5px; color: #999;}
	ul.cv-section-items li.cv-item h4{ margin-right:0.5em; padding-top: 0.4em; }
	
	ul.cv-section-items li span.l-1,
	ul.cv-section-items li span.l-2,
	ul.cv-section-items li span.l-3,
	ul.cv-section-items li span.l-4,
	ul.cv-section-items li span.l-5,
	ul.cv-section-items li span.l-6,
	ul.cv-section-items li span.l-7{ text-indent:0; background:none; }
	ul.cv-section-items li.cv-item, li.cv-item-border  { margin-top: 0; padding: 0.3em;}

	/* In IE for some reason it printed the tooltip as well when pressing the print button
	   on the page. Below is the fix for this. */

    .only-print { display: inherit; }
	.no-print { display: none; }

    .progress { display: none }
    .skill .label { display: inline; width: 4.5em;  }

	#personal-info {
		padding: 0;
	}
    .qr-code {
        position: absolute;
        top: -1em;
        right: 0;
        text-align: center;
    }
	.qr-code a {
		display: block;
		height: 1px;
		line-height: 0.6em;
	}
	.qr-code img {
		width: 11em;
	}